<h1><%= pluralize(@movies.size, 'Movie') %></h1>

<% @movies.each do |movie| %>
    <table class="rwd-table">
        <tr>
            <th>Title</th>
            <th>Rating</th>
            <th>Realeased</th>
            <th>Total Gross</th>
            <th>Description</th>
        </tr>
        <tr>
            <td data-th="Title"><%= movie.title %></td>
            <td data-th="Rating"><%= movie.rating %></td>
            <td data-th="Released"><%= movie.released_on %></td>
            <td data-th="Total gross"><%= number_to_currency(movie.total_gross) %></td>
            <td data-th="Description"><%= truncate(movie.description, length: 40, seperator: ' ') %></td>
        </tr>
    </table>
<% end %>
